{% extends 'layout.html' %}

{% block title %} 
    Post
{% endblock %}

{% block content %}

<h1> Pagina de Post:  </h1>
<p> Aqui se publican noticias de interes: </p>
<a href="/Post/post2.html" class="a-nicol">Siguiente Post</a>
<hr>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h7 class="soyh7"> Post 2: </h7> 
<br>
<img src = "../static/BLNYM4RZL5GNLG2X6DDUBDHWXI.jpeg" style="width: 200px; height: 200px;">  
<br>
<h8 class="soyh8"> Intel apunta a la sincronización PC-celulares con nueva app </h8>
<p> La empresa Intel desarrolló una nueva aplicación que estará disponible en los nuevos PC y que facilitará la sincronización entre computadores y celulares de cualquier marca. Hasta ahora, los usuarios de Windows tenían una carencia por la deficiente integración existente. Solo los usuarios iOS conocen bien las bondades de esta tecnología que les permite responder llamadas en su Mac o copiar en el iPhone y pegar el contenido en el Mac.
    No solo permitirá integrar PC y celulares Android, sino que hará lo mismo con los celulares iOS.</p>  
<a href="https://www.semana.com/tecnologia/articulo/intel-apunta-a-la-sincronizacion-pc-celulares-con-nueva-app/202232/" class="enlace2"> Enlace2 <a/>     
</body>
</html>
{% endblock %}
