{% extends "layout.html" %}

{% block title %} Agregar {% endblock %} 

{% block body %}

<h2 class="tituloagregar"> Escribe Experiencias En El Foro: </h2>
<center>
    <h3 class="tituloreglas"> !REGLAS! </h3>
</center>
     <br>
<center>
	<li>    No se debe insultar a ningún usuario bajo ninguna circunstancia ,si es el caso el comentario sera eliminado</li>
	<br>
</center>
<center>
	<li>	No se debe hacer apología de la violencia, ni de forma verbal ni mostrando insignias, banderas o similares que puedan interpretarse como tales. </li>
    <br>
</center>
<center>
    <li>	No trasladar a los foros discusiones a nivel personal con otros usuarios.</li>
</center>

<form class="login-form" action="{{ url_for('crear_post') }}" method="post">
	<input type="text" name="titulo" placeholder="titulo">

	<textarea name="texto" cols="30" rows="10"></textarea>

	<input type="submit" name="submit">
</form>

{% endblock %}