{% extends 'layout.html' %}


{% block title %} 

Sobre Nosotros

{% endblock %} 

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <title>Document</title>
</head>
<body>
    <br></br>   
    <h12> Integrantes del Proyecto: </h12>
    <p class="parrafocontactos">  En este proyecto hacen parte 4 personas:  </p>
    
    <hr>
    
    <h1 class="soyh1"> Nicolas Romero: </h1>
    <img src = "/static/pngtree-group-icon-png-image_1796653.jpg" style="width: 200px; height: 200px;">
    <p class="parrafocontactos"> Correo:nicolas.romerodiaz@campusucc.edu.co </p>
    <p class="parrafocontactos"> Telefono: 3008024923 </p>

    <hr>

    <b><h13 class="soyh13"> Wilmer Novoa: </h13></b>
    <br>
    <img src = "/static/pngtree-group-icon-png-image_1796653.jpg" style="width: 200px; height: 200px;">
    <p class="parrafocontactos"> Correo: vvvv@gmail.com </p>
    <p class="parrafocontactos"> Telefono: 222222222 </p>

    </hr>

    <hr>

    <b><h16 class="soyh16"> Juan Mendez: </h16></b>
    <br>
    <img src = "/static/pngtree-group-icon-png-image_1796653.jpg" style="width: 200px; height: 200px;">
    <p class="parrafocontactos"> Correo: xxxx@gmail.com  </p>
    <p class="parrafocontactos"> Telefono: 111111111 </p>

    </hr>

    <hr>

    <b><h15 class= "soyh15" > Carlos Molares </h15></b>
    <br>
    <img src = "/static/pngtree-group-icon-png-image_1796653.jpg" style="width: 200px; height: 200px;">
    <p class="parrafocontactos"> Correo: zzzz@gmail.com </p>
    <p class="parrafocontactos"> Telefono: 000000000 </p>
</div>
</body>
</html>

</hr>

{% endblock %} 
