{% extends 'layout.html' %}

{% block title %} 
    Post
{% endblock %}

{% block content %}

<h1> Pagina de Post:  </h1>
<p class="parrafopost"> Aqui se publican noticias de interes: </p>
<a href="/Post/post1.html" class="a-nico">Siguiente Post</a>
<hr>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      
</head>


  <h5 class="soyh5"> Post 1: </h5> 
<center><img src = "/static/pngtree-computer-png-image_1698842.jpg" style="width: 200px; height: 200px;"></center>  
  <center><h6 class="soyh6"> ¿Se quedó sin batería y necesita que lo llamen? Truco para recibir la llamada desde otro teléfono: </h6></center>
  <p class="parrafo2post"> Existe un método para trasladar la comunicación hacia otro número telefónico en momentos en que el usuario no tiene la posibilidad de atender la llamada.            
    Pese a que los teléfonos móviles actuales representan una notable evolución ante los primeros celulares que se usaban hace más de veinte años, los usuarios de estos equipos aún siguen siendo dependientes a la carga de batería de estos dispositivos.    
    Por esta razón, cientos de personas acuden a diferentes herramientas para poder permanecer en contacto con sus familiares, amigos, compañeros de trabajo, entre otros. </p>  
  <a href="https://www.semana.com/tecnologia/articulo/se-quedo-sin-bateria-y-necesita-que-lo-llamen-truco-para-recibir-la-llamada-desde-otro-telefono/202246/" class="enlace1"> Enlace1 </a> 

  <hr>

   
 
</body>
</html>
{% endblock %}
