{% extends 'layout.html' %}

{% block title %} 
    Post
{% endblock %}

{% block content %}

<h1> Pagina de Post:  </h1>
<p> Aqui se publican noticias de interes: </p>
<hr>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

 <h7> Post 3: </h7>  
 <hr>
  <img src = "../static/OGB7JUIIQBC6NNKVMGUGKMPV5U.jpg" style="width: 200px; height: 200px;"> 
  <hr>          
  <h8> No se vende como lo esperaba, los problemas de Apple con el iPhone 14 </h8>
  <h9> El pasado 7 de septiembre, Apple lanzó al mercado el nuevo iPhone 14, que tiene un costo de inicial de 799 dólares, lo que equivale a 3′516.000 pesos colombianos.
   Sin embargo, la multinacional tecnológica ha dado a conocer que el dispositivo no se está vendiendo como ellos esperaban, razón por la cual se tomó la decisión de bajar la producción prevista para lo que queda de este 2022, según el portal Bloomberg.
   Asimismo, Apple le solicitó a sus proveedores que detuvieran la producción adicional de 6 millones del iPhone 14. Como bien se sabe la compañía tiene previsto producir 90 millones de este celular, hasta sacar una nueva edición. </h9>  
  <a href="https://www.semana.com/tecnologia/articulo/no-se-vende-como-lo-esperaba-los-problemas-de-apple-con-el-iphone-14/202252/" class="enlace3"> Enlace3 </a>
  <hr>        
</body>
</html>
{% endblock %}