{% extends 'layout.html' %}

{% block title %}
Preguntas Frecuentes
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informacion</title>
</head>

<body>
  <br>
  <center><b>
      <h9 class="centrado"> ¿Cuál va a ser el objetivo de mi blog? </h9>
    </b></center>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus nobis laudantium aut ea, accusamus
    eligendi cum minima reprehenderit eius libero suscipit ipsa odio accusantium eum nulla laborum quos itaque? </p>
  <center><img src="../static/shutterstock_726376834.jpg" width="210" height="200">
    <center>

      <hr>
      <br>
      <center><b>
          <h10> ¿Cuáles van a ser sus contenidos? </h10>
        </b></center>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus nobis laudantium aut ea,
        accusamus eligendi cum minima reprehenderit eius libero suscipit ipsa odio accusantium eum nulla laborum quos
        itaque? </p>
      <center><img src="../static/shutterstock_726376834.jpg" width="210" height="200"></center>
      <hr>
      <br>
      <center><b>
          <h11> ¿Quiénes van a ser mis aliados? </h11>
        </b></center>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus nobis laudantium aut ea,
        accusamus eligendi cum minima reprehenderit eius libero suscipit ipsa odio accusantium eum nulla laborum quos
        itaque? </p>
      <center><img src="../static/shutterstock_726376834.jpg" width="210" height="200"></center>
      <hr>

</body>

</html>

{% endblock %}